@model IEnumerable<MachineTest.Models.Product>
@{
    ViewBag.Title = "Product List";
}

<h2>Product List</h2>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New Product</a>
<a href="@Url.Action("Index", "Category")" class="btn btn-success">Go to Categories</a>
 <a href="@Url.Action("Index", "Home")" class="btn btn-success">Go to Home</a>


<br />
<h4>Page @ViewBag.Page of @ViewBag.TotalPages</h4>

<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>CategoryId</th>
            <th>CategoryName</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.CategoryId</td>
                <td>@product.Category.CategoryName</td>
                <td>
                <a href="@Url.Action("Edit", new { id = product.ProductId })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Delete", new { id = product.ProductId })" class="btn btn-danger">Delete</a>
                 <a href="@Url.Action("ViewProduct", "Product", new { id = product.ProductId })" class="btn btn-info">View</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-between">
    @if (ViewBag.Page > 1)
    {
        @Html.ActionLink("Previous", "Index", new { page = ViewBag.Page - 1 }, new { @class = "btn btn-primary" })
    }

    @if (ViewBag.Page < ViewBag.TotalPages)
    {
        @Html.ActionLink("Next", "Index", new { page = ViewBag.Page + 1 }, new { @class = "btn btn-primary" })
    }
</div>

    
    
    

    

